{% extends 'layouts/layout.html' %}

{% block title %}{%endblock%}

{% block main %}

<div class="container">
    <div class="jumbotron text-center">
        <h1>FOUNDYA</h1>
        <h2>Make your own Find Waldo/Wally game and share it with your friends.</h2>
        <hr>
        <a href="{{ url_for('home.hottest') }}" class="btn btn-lg btn-danger">Hottest Games</a>
        <a href="{{ url_for('home.newest') }}" class="btn btn-lg btn-info">Newest Games</a>
    </div>
</div>

{% endblock %}