<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foundya {% block title %}{% endblock %}</title>

    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/global.css">
    
    {% block scripts_styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('home.index')}}">Foundya</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Random<span class="sr-only">(current)</span></a></li>-->
                    <li><a href="{{ url_for('home.hottest')}}">Hot</a></li>
                    <li><a href="{{ url_for('home.newest')}}">New Games</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.get('user_id') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if session.get('user_name') %}
                                    {{session.get('user_name') }}
                                {% else %}
                                    USER
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url_for('game.create')}}">Create a game</a></li>
                                <li><a href="{{url_for('users.my_games')}}">My Games</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{url_for('users.login')}}">Login</a></li>
                        <li><a href="{{url_for('users.register_user')}}">Register</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div style="height:60px"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-info" role="alert">
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% block main %}{% endblock %}
</body>
</html>