#canvas{

    width:100%;
    z-index: 2;

}

.hints{

    list-style: none;    

}

.hints li {
    
    min-height: 30px;
    list-style: none;
    display: inline-block;
    min-width: 175px;
    max-width: 350px;
    margin:10px;
    border-radius: 3px;
    background-color: rgb(225,225,225);   
    padding:4px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgb(170,170,170) 

}

.hints .crossed {

    text-decoration: line-through;
    background-color: rgb(150,255,150) !important;

}

#canvas img{
    width:100%
}