#canvas {
    width:100%;
    background-color:aliceblue;
    position:relative;
    z-index:10;
    border: 0 0;
    padding:0 0;
    margin: 0 0;
}

#logger p{
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: 10px;
    margin: 3px 0px;
}

#file{
    display: none;
}

.square {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    outline: rgba(100, 100, 100, 0.8) solid 1px;
    z-index:20;
    font-size: 6pt;
    font-family: Arial, Helvetica, Ubuntu, Overpass, sans-serif;
}

.creator_view{
    margin-top : 10px;
}

.space {
    margin-top:15px;
}

.code-text { 
    font-family: 'Courier New', 'Ubuntu Mono', monospace;
    background-color: #FFF1D9;
    border-radius: 2px;
    display: inline-block;
}

.backgroundImage {
    width : 100%;
    display : block;
    z-index : -1;
}

.imageOverlay {
    z-index : 0;
    position: absolute;
    width : 100%;
    height : 100%;
    display : block;
}
