{% extends 'layouts/layout.html' %} 

{% block title %}Create Game{%endblock%} 

{% block scripts_styles %}

<link rel="stylesheet" href="/static/css/sq.css">

{% endblock %} 

{% block main %}


<form action="{{url_for('game.create')}}"  method="post" id="sqform" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Game creation page!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">Game's name:</span>
          <input type="text" name="name" class="form-control" id="nameOfGame">
          <span class="input-group-addon" id="sizing-addon1">NSFW:</span>
          <span class="input-group-addon">
            <input type="checkbox" name="is_nsfw" id="is_nsfw">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-6 col-xl-4">
        <h3><strong>Choose</strong> an image</h3>
        <div class="form-group">
          <input class="form-control" type="file" name="file"
            placeholder="Choose file" id="file">
          <button class="btn btn-info btn-small" id="btnFileUpload">
            Upload image
          </button>
          <span id="imageInformation"></span>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container creator_view" hidden>
  <div class="row">
    <div class="col-xs-8 col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Clue" id="clue" />
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" id="enableAddBox">Create Box</button>
        </span>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 text-right">
      <button class="btn btn-primary" id="upload">Upload</button>
    </div>
  </div>
  <div class="row space">
    <div class="col-xs-12">
      <div id="canvas"></div>
    </div>
  </div>
  <div class="row space">
    <div class="col-xs-12">
      <div id="options" class="text-center" hidden>
        <button class="btn btn-success" id="save">Change</button>
        <button class="btn btn-warning" id="cancel">Cancel</button>
        <button class="btn btn-danger" id="delete">Remove</button>
      </div>
    </div>
  </div>
</div>
<div id="loadingCircle" hidden>
  <p class="text-center">
    LOADING
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="debug"></p>
    </div>
  </div>
</div>

<script src="/static/js/helpers.js"></script>
<script src="/static/js/image.js"></script>
<script src="/static/js/responsive.js"></script>
<script src="/static/js/point.js"></script>
<script src="/static/js/square.js"></script>
<script src="/static/js/squarecollection.js"></script>
<script src="/static/js/canvas.js"></script>
<script src="/static/js/resizer.js"></script>
<script src="/static/js/submitForm.js"></script>

{% endblock %}