{% extends 'layouts/layout.html' %}
{% block title %}
    {% if mines %}
        My Games
    {% elif user %}
        {{user.name | safe}}'s Games
    {% elif newest %}
        Newest Games
    {% elif hottest %}
        Hottest Games
    {% endif %}
{%endblock%} 

{% block scripts_styles %}

<link rel="stylesheet" href="/static/css/user_game_list.css">

{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            {% if mines %}
                <h2>My Games</h2>
                {% if user %}    
                    <h3>
                        Share: 
                        <a href="{{ url_for('home.by_users',username=user.name) | safe}}">
                            {{ '/u/' + user.name | safe }}
                        </a>
                    </h3>
                {% endif %}
            {% elif user %}
                <h2>{{user.name | safe}}'s Games</h2>
            {% elif newest %}
                <h2>Newest Games</h2>
            {% elif hottest %}
                <h2>Hottest Games</h2>
            {% endif %}

            <table class="table table-striped table-hover">
                <thread>
                    <tr>
                        <th style="width:20%" class="text-center">Preview</th>
                        <th style="width:60%" class="text-center">Game Name</th>
                        <th style="width:20%" class="text-center">Actions</th>
                    </tr>
                </thread>
                <tbody>
                    {% for game in games %}
                        <tr class="{{ 'danger' if game.is_nsfw else '' }}">
                            <td class="text-center">

                                <a href="{{url_for('game.load_game', game_id = game.id) }}">
                                    <img src="{{ url_for('game.load_image', filehash= game.image.hashed ) + '?icon' + ( '&blur' if game.is_nsfw and not mines else '' ) }}" 
                                        class="icons" >
                                </a>

                            </td>
                            <td>
                                {{ game.name }}
                                {% if game.is_nsfw and not mines %}
                                    <strong class="text-danger">
                                        <em>
                                            [NSFW]
                                        </em>
                                    </strong>
                                {% endif %}
                                {% if rankings %}
                                    <br>
                                    <span class="grade">
                                        <strong>Grade:</strong>
                                        {{ rankings.get(game.id) }}
                                    </span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{url_for('game.load_game', game_id = game.id) }}">Click to Play</a> <br>
                                {% if newest or updating %}
                                    <a href="{{ url_for('home.by_users', username=game.user.name )}}">{{ game.user.name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
