{% extends 'layouts/layout.html' %} {% block title %}Game: {{ game.name }}{%endblock%} 

{% block scripts_styles %}

<link rel="stylesheet" href="/static/css/play_sq.css">

{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-md-10">
            <h2>
                {{ game.name }}
            </h2>
        </div>
        <div class="col-xs-4 col-md-2">
            <div class="btn-group btn-group-lg btn-group-justified">
                <a href="{{ url_for('game.vote', game_id=game.id) + '?weight=1' }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a href="{{ url_for('game.vote', game_id=game.id) + '?weight=-1' }}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>                        
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="canvas">
                <img src="{{ '/game/images/' + image.hashed }}" alt="" id="playImg">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Hints
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="hints">
                {% for sqr in squares %}
                    <li id="hint_{{ sqr.id }}">
                        {{ sqr.hint }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Congratulations!</h4>
            </div>
            <div class="modal-body">
                <p>
                    You have found all of the object specified by this game!
                </p>
                <p>
                    You can either play a different game or refresh the screen to play it again!
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="{{ url_for('game.load_game', game_id=game.id) }}">Play</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var squaresFromDB = {{ serialized_sqrs | tojson | safe }};
</script>

<script src="/static/js/helpers.js"></script>
<script src="/static/js/image_play.js"></script>
<script src="/static/js/responsive.js"></script>
<script src="/static/js/point.js"></script>
<script src="/static/js/square.js"></script>
<script src="/static/js/play.js"></script>

{% endblock %}
