{% extends 'layouts/layout.html' %} 

{% block title %}Game create successfully{%endblock%} 

{% block scripts_styles %}

<link rel="stylesheet" href="/static/css/sq.css">

{% endblock %} 

{% block main %}

<div class="container">
    <div class="jumbotron text-center">
        <h1>
            SUCCESS!
        </h1>
        <h2>
            Your game was saved with success!
        </h2>
        {% if game %}
            <hr>
            <a href="{{ url_for('game.load_game', game_id = game.id) }}" class="btn btn-lg btn-success">
                Click here to play it!
            </a>
        {% endif %}

    </div>
</div>

{% endblock %}
