{% extends 'layouts/layout.html' %} 

{% block title %}Error{%endblock%} 

{% block scripts_styles %}

<link rel="stylesheet" href="/static/css/sq.css">

{% endblock %} 

{% block main %}

<div class="container">
    <div class="jumbotron text-center">
        {% if status %}
        <h1>
            {{ status }}
        </h1>
        {% endif %}
        <h2>
            I believe something went wrong...
        </h2>
        <hr>
        <p>
            Somewhere, somehow, our fates got intertwined and we both tripped at the same time.
            <br>
            Please forgive me!
            <br>
            Here's what the doctor said:
        </p>
        <pre><code>{% if message %}{{message}}{% endif %}</code></pre>
    </div>
</div>


{% endblock %}
