{% extends 'layouts/layout.html' %} 

{% block title %}No games{%endblock%} 

{% block scripts_styles %}

<link rel="stylesheet" href="/static/css/sq.css">

{% endblock %} 

{% block main %}

<div class="container">
    <div class="jumbotron text-center">
        {% if status %}
        <h1>
            {{ status }}
        </h1>
        {% endif %}
        <h2>
            There are no games to show!
        </h2>
        <hr>
        <p>
            {% if is_mines %}
                You don't have any games to show! How about you make one right now?
            {% elif is_main %}
                We don't have any games for you to play, one one bothered making one.
            {% else %}
                Sorry! This user never made any games!
            {% endif %}
        </p>
    </div>
</div>


{% endblock %}
