{% extends 'layouts/layout.html' %}

{% block title %}Login{%endblock%}

{% block main %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">
                    Login
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p>
                    Log-in to see and share the games you have created.
                </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <form action="{{url_for('users.login')}}", method="post">
                    <div class="form-group">
                        <label for="usermail">Email or Username</label>
                        <input class="form-control" type="text" name="name" placeholder="Username or Email" value="{{name}}" id="usermail">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password" value="{{password}}" id="password">
                    </div>
                    <button class="btn btn-primary" type="submit">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}