{% extends 'layouts/layout.html' %}

{% block title %}Register{%endblock%}

{% block main %}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">
                    Register
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p>
                    Register now to create your own games.
                </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <form action="{{url_for('users.register_user')}}", method="post">
                    <div class="form-group">
                        <label for="user">Username</label>
                        <input class="form-control" type="text" name="name" placeholder="Username" value="{{name}}" id="user">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password" value="{{password}}" id="password">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input class="form-control" type="password" name="password2" placeholder="Password, Again!" value="{{password2}}" id="password2">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" placeholder="Email" value="{{email}}" id="email">
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}